
  .botaozinho {
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -34px;
    border: none;
    border: 1px solid purple;
    color:black;
    background: unset;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
  }
.retabutton{
  width: 319px;
  display: flex;
  justify-content: center;
}
