@media(max-width:425px){
    .Icone{
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 30px;
        p{
            text-align: center;
            // padding: 0 40px;
            // margin: auto;
        }
    }





}